* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #766F68;
}

/**************************/
/* HEADER */
/**************************/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.2rem 1.6rem;
    margin-bottom: 3.2rem;
}

.logo {
    font-size: 2.4rem;
    font-weight: 700;
    color: #D2872C;
    cursor: pointer;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.2rem;
}

.nav-item:link,
.nav-item:visited {
    font-size: 1.6rem;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

.nav-item:hover,
.nav-item:active {
    font-weight: 500;
    text-decoration: underline;
}

/**************************/
/* MAIN CONTENT */
/**************************/

/* 
    - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

img {
    height: auto;
    width: 100%;
}

.hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    transform: translate(30%, 0);
}

.title-header {
    font-size: 3.89rem;
    line-height: 1.1;
}

.introduction {
    font-size: 1.6rem;
    line-height: 1.3;
}

.btn-cta:link,
.btn-cta:visited {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: #FFF;
    background-color: #D2872C;
    padding: 1.2rem 4.8rem;
    transition: all .3s;
    border-radius: 15px;
}

.btn-cta:hover,
.btn-cta:active {
    background-color: #bd7a28;
}
